<!DOCTYPE html>
<html>
    <head>
        <title>E-Mail ändern</title>
    </head>
    <body>
        <h1>Hier ändern Sie ihre E-Mail</h1>
        <form action="/geandert" method="POST">
            Ihr Passwort:<br>
            <input type="password" name="pw"><br>
            Ihre neue E-Mail:<br>
            <input type="email" name="email1"><br>
            E-Mail wiederholen:<br>
            <input type="email" name="email2"><br>
            <button type="submit">Bestätigen</button>
        </form>
        <a href="/warenkorb">Zurück zum Warenkorb</a>
    </body>
</html>