<!DOCTYPE html>
<html>
    <head>
        <title>E-Mail geändert</title>
    </head>
    <body>
        <h1>Ihre neue E-Mail von <%=user%> lautet <%=email%></h1>
        <a href="/warenkorb">zurück zum Warenkorb</a>
    </body>
</html>