<!DOCTYPE html>
<html>
    <head>
        <title>E-Mail geändert</title>
        <link rel='stylesheet' href='/css/style.css' />
        <style>
            h1{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2%;
                font-size: 200%;
            }
            a{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2%;
                font-size: 150%;
            }
        </style>
    </head>
    <body>
        <h1>Ihre neue E-Mail von <%=user%> lautet <%=email%></h1>
        <a href="/warenkorb">zurück zum Warenkorb</a>
    </body>
</html>