<!DOCTYPE html>
<html>
    <head>
        <title>Ihr Username</title>
    </head>
    <body>
        <h1>Ihr Username: <%=n_name%></h1>
        <p>Nicht nochmal vergessen ;)</p>
        <a href="/signin">Zurück zur Anmeldung</a>
    </body>
</html>