<!DOCTYPE html>
<html>
    <head>
        <title>Passwort vergessen</title>
    </head>
    <body>
        <h1>Sie haben Ihr Passwort vergessen? Ändern Sie es einfach</h1>
        <form action="/pw_vergessen" method="POST">
            Ihre Username:<br>
            <input type="text" name="u_name"><br>
            Ihre Sicherheitszahlen:<br>
            Zahl 1: <input type="number" name="z1"><br>
            Zahl 2: <input type="number" name="z2"><br>
            Zahl 3: <input type="number" name="z3"><br><br>
            Neues Passwort:<br>
            <input type="password" name="pw_1"><br>
            Passwort wiederholen:<br>
            <input type="password" name="pw_2"><br>
            <button type="submit">Bestätigen</button><br>
        </form>
        <a href="/signin">Zurück zur Anmeldung</a>
    </body>
</html>