<!DOCTYPE html>
<html>
    <head>
        <title>Geschafft</title>
    </head>
    <body>
        <h1>Geschafft! <%=n_name%> Ihr Passwort wurde erfolgreich geändert</h1>
        <a href="/signin">Zur Anmeldung</a>
    </body>
</html>
