<!DOCTYPE html>
<html>
    <head>
        <title>Angemeldet!</title>
        <link rel='stylesheet' href='/css/style.css' />
        <style>
            h1{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2%;
                font-size: 200%;
            }
            h3{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2%;
                font-size: 200%;
            }
            a{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2%;
                font-size: 150%;
            }
        </style>
    </head>
    <body>
        <h1>Erfolgreich Angemeldet.</h1>
        <h3>Danke <%=prename%> <%=surname%>, dass Sie sich als <%=user_n%> registriert haben.</h3>
        <a href="/signin">zur Anmeldung.</a>
    </body>
</html>