<!DOCTYPE html>
<html>
    <head>
        <title>Angemeldet!</title>
    </head>
    <body>
        <h1>Erfolgreich Angemeldet.</h1>
        <h3>Danke <%=prename%> <%=surname%>, dass Sie sich als <%=user_n%> registriert haben.</h3>
        <a href="/overview">zum Shop.</a>
    </body>
</html>