<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel='stylesheet' href='/css/style.css' />
        <style>
            button{
                height:50px;
                width:130px;
                cursor:pointer;
                font-size: 80%;
            }
        </style>
    </head>
    <body>
        <h2>Loggen Sie sich ein.</h2>
        <form action="/signin" method ="POST">   
            <fieldset id="eins"><br>
                <div id="formular">
                    Username:<br><br>
                    <input type="text" name="username"><br>
                    <a href="/username">Username vergessen</a><br><br>

                    Password:<br><br>
                    <input type="password" name="password"><br>
                    <a href="/password">Passwort vergessen</a><br>
                </div>
            </fieldset>
            <div id="button1">
                <button type="submit">Login</button>
            </div>
            <div id="regis">
                <p>Ich habe noch keinen Account. <a href="/signup">Registrieren.</a></p>
                <p>Ich möchte mich nur umsehen. <a href="/overview">Zum Shop</a></p>
                <p>Ach die Willkommensseite war so toll <a href="/">Back to the Roots :D</a></p>
            </div>
        </form>
    </body>
</html>