<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Loggen Sie sich ein.</h2>
        <form action="/signin" method ="POST">
            <fieldset>   
                <div>
                    Username:<br>
                    <input type="text" name="username"><br>
                    <a href="/username">Username vergessen</a><br>
                </div>
                <div>
                    Password:<br>
                    <input type="password" name="password"><br>
                    <a href="/password">Passwort vergessen</a>
                </div>
                <button type="submit">Login</button> 
            </fieldset> 
            <p>Ich habe noch keinen Account. <a href="/signup">Registrieren.</a></p>
            <p>Ich möchte mich nur umsehen. <a href="/overview">Zum Shop</a></p>
            <p>Ach die Willkommensseite war so toll <a href="/">Back to the Roots :D</a></p>
        </form>
    </body>
</html>