<!DOCTYPE html>
<html>
    <head>
        <title>Registrieren</title>
        <link rel='stylesheet' href='/css/style.css' />
        <style>
            button{
                height:50px;
                width:130px;
                cursor:pointer;
                font-size: 80%;
            }
        </style>
    </head>
    <body>
        <h2>Erstellen Sie ihren Account.</h2>
        <form action="/signup" method="POST">
            <fieldset id="zwei"><br> 
                <div id="formular">
                    Vorname:<br>
                    <input type="text" name="v_name"><br>
                
                    Nachname:<br>
                    <input type="text" name="n_name"><br>
        
                    Username:<br> 
                    <input type="text" name="username"><br>
                
                    E-Mail:<br>
                    <input type="email" name="email"><br>
                
                    Passwort:<br>
                    <input type="password" name="password_1"><br>
                
                    Passwort wiederholen:<br>
                    <input type="password" name="password_2"><br>
                    <div id="extrawurst">
                        <p>Geben Sie drei Sicherheitszahlen an die zwischen 0 und 1000 liegen.(0 und 1000 ausgeschlossen)</p>
                    </div><br>
                    Sicherheitszahl 1:<br>
                    <input type="number" name="z_1"><br>
                
                    Sicherheitszahl 2:<br>
                    <input type="number" name="z_2"><br>
                
                    Sicherheitszahl 3:<br>
                    <input type="number" name="z_3"><br>
                </div>
            </fieldset>
            <div id="button1">
                <button type="submit">Sign up.</button>
            </div>
        </form> 
        <div id="regis">
            <p>Ich habe schon einen Account. <a href="/signin"> Anmelden.</a></p>
            <p>Ach die Willkommensseite war so toll <a href="/">Back to the Roots :D</a></p>
        </div>
    </body>
</html>