<!DOCTYPE html>
<html>
    <head>
        <title>Eingeloggt!</title>
    </head>
    <body>
        <h1>Erfolgreich eingeloggt.</h1>
        <h3>Willkommen <%=name1%></h3>
        <a href="/übersicht">zum Shop.</a>
    </body>
</html>